<div class='container'>
  <h1>Select 68 Teams to Participate</h1>

  <%= form_tag activateteams_brackets_path, method: :put do %>
    <div class='row'>
      <div class='col-md-4 col-md-offset-2 text-right outline'>      
        <strong>Division</strong>        
        <div>
          <%= select_tag(:topl_div, options_for_select(@regions_options), prompt: 'Select Upper Left Division') %>
        </div>
        <br>
        <div>          
          <table class="table table-striped">
            <thead>
              <td><strong>Seed</strong></td>
              <td><strong>Select Teams</strong></td>
            </thead>
            <%-# begin loop %>
            <% for i in 0..15 %>
            <tr>
              <td><%= @seed_order[i] %></td>
              <td>                
                <%= select_tag("topl_ids[]", options_for_select(@teams), prompt: @prompts[i]) %>
                <%-# collection_select(:team, :topl_1, Team.all.order(:school_name), :id, :school_name) %>
                <%-# collection_select(:team, :topl_1, @teams, :id, :school_name, prompt: 'Select 1 Seed') %>
                <%-# select_tag(:topl_1, options_from_collection_for_select(Team.all, :id, :school_name)) %>
              </td>
            </tr>
            <% end %>
            <%-# end loop %>  
          </table>
        </div>
      </div>
      <!--
      <div class='col-md-4 text-center outline'>
        <! column 2 - nothing here
      </div>
      -->
      <div class='col-md-4 text-left outline'>
        <strong>Division</strong>        
        <div>
          <%= select_tag(:topr_div, options_for_select(@regions_options), prompt: 'Select Upper Right Division') %>
        </div>
        <br>
        <div>          
          <table class="table table-striped">
            <thead>
              <td><strong>Seed</strong></td>
              <td><strong>Select Teams</strong></td>
            </thead>
            <%-# begin loop %>
            <% for i in 0..15 %>
            <tr>
              <td><%= @seed_order[i] %></td>
              <td>                
                <%= select_tag("topr_ids[]", options_for_select(@teams), prompt: @prompts[i]) %>                               
              </td>
            </tr>
            <% end %> 
            <%-# end loop %>  
          </table>
        </div>
      </div>

    </div>
    <br><br>
    <div class='row'>
      <div class='col-md-4 col-md-offset-2 text-right outline'>
        <strong>Division</strong>
        <div>
          <%= select_tag(:botl_div, options_for_select(@regions_options), prompt: 'Select Bottom Left Division') %>
        </div>
        <br>
        <div>
          <table class="table table-striped">                                  
            <thead>
              <td><strong>Seed</strong></td>
              <td><strong>Select Teams</strong></td>
            </thead>
            <%-# begin loop %>
            <% for i in 0..15 %>            
            <tr>
              <td><%= @seed_order[i] %></td>
              <td>                
                <%= select_tag("botl_ids[]", options_for_select(@teams), prompt: @prompts[i]) %>                               
              </td>
            </tr>
            <% end %> 
            <%-# end loop %>                
          </table>
        </div> 
      </div>
      <!--
      <div class='col-md-4 text-center outline'>
        <! column 2 - nothing here 
      </div>
      -->
      <div class='col-md-4 text-left outline'>
        <strong>Division</strong>
        <div>
          <%= select_tag(:botr_div, options_for_select(@regions_options), prompt: 'Select Bottom Right Division') %>
        </div>
        <br>
        <div>
          <table class="table table-striped">                        
            <thead>
              <td><strong>Seed</strong></td>
              <td><strong>Select Teams</strong></td>
            </thead>
            <%-# begin loop %>
            <% for i in 0..15 %>                        
            <tr>
              <td><%= @seed_order[i] %></td>
              <td>                
                <%= select_tag("botr_ids[]", options_for_select(@teams), prompt: @prompts[i]) %>                               
              </td>
            </tr>
            <% end %> 
            <%-# end loop %>                              
          </table>
        </div>
      </div>

    </div>

    <%= submit_tag "Submit and Continue" %>
  <% end %>
  <br><br>

</div>