<div class='container'>
  <h1>Select 68 Teams to Participate</h1>

  <div class='row'>
    <div class='col-md-4 text-right outline'>      
        <strong>Division</strong>        
        <div>Select Division</div>
        <br>
        <div>
          <strong>Select Teams</strong>
          <table class="table table-striped">
            <tr>
              <td>1</td>
              <td>
                <div>
                  <%= select_tag(:topl1, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>16</td>
              <td>
                <div>
                  <%= select_tag(:topl16, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                <div>
                  <%= select_tag(:topl8, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>9</td>
              <td>
                <div>
                  <%= select_tag(:topl9, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <div>
                  <%= select_tag(:topl5, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>12</td>
              <td>
                <div>
                  <%= select_tag(:topl12, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <div>
                  <%= select_tag(:topl4, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>13</td>
              <td>
                <div>
                  <%= select_tag(:topl13, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>     
            <tr>
              <td>6</td>
              <td>
                <div>
                  <%= select_tag(:topl6, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>11</td>
              <td>
                <div>
                  <%= select_tag(:topl11, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <div>
                  <%= select_tag(:topl3, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>14</td>
              <td>
                <div>
                  <%= select_tag(:topl14, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <div>
                  <%= select_tag(:topl7, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>10</td>
              <td>
                <div>
                  <%= select_tag(:topl10, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <div>
                  <%= select_tag(:topl2, options_for_select(@teams_options)) %>
                </div>
              </td>
            </tr>  
            <tr>
              <td>15</td>
              <td>
                <div>
                  <%= select_tag(:topl15, options_for_select(@teams_options)) %>
                </div>                
              </td>
            </tr>                                        
          </table>
        </div>
    </div>

    <div class='col-md-4 text-center outline'>
      column 2
    </div>

    <div class='col-md-4 text-left outline'>
      column 3



    </div>

  </div>
  <br><br><br>
  <div class='row'>
    <div class='col-md-4 text-right outline'>
      column 1
      


    </div>

    <div class='col-md-4 text-center outline'>
      column 2
    </div>

    <div class='col-md-4 text-left outline'>
      column 3



    </div>

  </div>

</div>