<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @team.school_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @team.short_name %>
</p>

<p>
  <strong>Image file:</strong>
  <%= @team.image_file %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @team.conference %>
</p>

<p>
  <strong>Mascot:</strong>
  <%= @team.mascot %>
</p>

<!-- below loop only executes if relationship exists -->
<% if @team.participant != nil %>
  <p>
    <strong>Owner: </strong>
    <%= @team.participant.first_name + ' ' + @team.participant.last_name %>
  </p>
<% else %>
  <p>
    <strong>Owner: </strong>
    none
  </p>
<% end %>

<p>
  <strong>Seed:</strong>
  <%= @team.seed %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division %>
</p>

<p>
  <strong>Playing:</strong>
  <%= @team.playing %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
</div>