<!DOCTYPE html>
<html>
  <head>
    <title>Ncaa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </head>

  <body>
    <div class='container'>
      <nav class="navbar navbar-default">
        <ul class='nav navbar-nav'>
          <!-- <li class='nav-item'> -->
          <!-- sets the current page's nav section to active -->
          <li class = "nav-item <%= cp(root_path) %>" >          
            <%= link_to 'Home', root_path %>
          </li>
          <!-- <li class='nav-item'> -->
          <li class = "nav-item <%= cp(participants_path) %>" >
            <%= link_to 'Participants', participants_path %>
          </li>
          <!-- <li class='nav-item'> -->
          <li class = "nav-item <%= cp(teams_path) %>" >
            <%= link_to 'Teams', teams_path %>
          </li>
          <!-- <li class='nav-item'> -->
          <li class = "nav-item <%= cp(brackets_path) %>" >        
            <%= link_to 'Brackets', brackets_path %>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
